*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    color: black;
    background-color: rgb(251, 203, 245);
    border: solid black 2px;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem 2rem;
    justify-content: space-between;
}

header h1{
    font-size: 1.8rem;
}

section{
    margin:1rem;
    padding:0;
}

.about_container{
    margin: 0;
    padding: 0;
    display: flex;
    line-height: 1.6rem;
    gap: 1.6rem;
}
.about_container img{
    height: 350px;
    width: 200px; ;
    border-radius:50% ;
    object-fit:cover ;
    border:2px solid black;
}

